body{
margin:0;
padding:0;
height: 100%;
overflow-x:hidden;


}
.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
  color: #fff;
}

.large-text{
line-height: 1;
font-size: 10vw;
font-weight: 900;
position: relative;
will-change: transform;
opacity: 0.1;
text-transform: uppercase;
letter-spacing: -0.02em;
font-family: poppins,  sans-serif;
}


    .shape {
      position: absolute;
      opacity: 0.8;
    }

    .circle {
      width: 200px;
      height: 200px;
      background: #ff0000;
      border-radius: 50%;
      top: 10%;
      left: 10%;
      height: 100%vh;
    }

    .square {
      width: 150px;
      height: 150px;
      background: #0066ff;
      top: 60%;
      left: 70%;
    }


    .triangle {
      width: 0;
      height: 0;
      border-left: 100px solid transparent;
      border-right: 100px solid transparent;
      border-bottom: 173px solid #ffff00;
      top: 40%;
      left: 40%;
    }

.heading-wrapper{

display: flex;
flex-direction: column;
align-items: flex-start;
/* justify-content: center; */
font-weight: 800;
font-family: "Poppins";
background: #cfc530;
height: 400px;



 }

#sub-heading1{
 line-height: 1;
font-size: 10vw;
font-weight: 900;
position: relative;
will-change: transform;
opacity: 0.1;
text-transform: uppercase;
letter-spacing: -0.02em;
font-family: poppins,  sans-serif;
letter-spacing: -0.02em; 
margin-left: 10px;
font-size: 70px;


 } 

.sub-heading2{
letter-spacing: -0.02em; 
margin-left: 10px;

font-size: 70px;

 }

